// Colors
$color-light: rgb(255, 255, 255);

$body-background-color: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(30,171,110,1) 49%, rgba(2,0,36,1) 90%);

$calculator-background-color: rgb(5, 1, 22);

$output-background-color:  rgb(5, 1, 22);
$output-border-color: rgb(30, 241, 76);

$button-background-color: rgb(17, 8, 66);
$button-background-hover-color: rgb(72, 58, 145);
$button-background-active-color:  rgb(61, 48, 122);
$button-border-active-color: rgb(15, 7, 56);
$button-shadow-active-color:  rgb(0, 255, 76);
$button-color: rgb(30, 241, 76);
$button-hover-color:   rgb(117, 238, 143);
