.button {
  position: relative;
  background-color: $button-background-color;
  color: $button-color;
  cursor: pointer;
  user-select: none;
  @include transition (300ms);
  z-index: 20;
  box-shadow: 0 0 80px 10px transparent;

  &:hover {
    background-color: $button-background-hover-color;
    color: $button-hover-color;
  }

  &:active {
    @include transition (50ms);
    background-color: $button-background-active-color;
    transform: scale(0.8);
  }
}

.button_active {
  display: block;
  position: absolute;
  background-color: $button-shadow-active-color;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  box-shadow: 0 0 10px 10px $button-shadow-active-color;

  z-index: 19;

  animation-name: shining;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes shining {
  10% {
    box-shadow: 0 0 10px 30px $button-shadow-active-color;
  }

  25% {
    box-shadow: 0 0 10px 50px $button-shadow-active-color;
  }

  50% {
    box-shadow: 0 0 10px 70px $button-shadow-active-color;
  }


  100% {
    box-shadow: 0 0 10px 110px transparent;
  }

}