.output {
  color: $color-light;
  background-color: $output-background-color;
  padding: 5px;
  row-gap: 0;
}

.previous-operand {
  font-size: 1rem;
}

.current-operand {
  font-size: 1.5rem;
  line-height: 1rem;
}